{
  "version": 1,
  "minor_version": 3,
  "key": "core.config",
  "data": {
    "latitude": 52.10650519075632,
    "longitude": -1.0524539696770876,
    "elevation": 0,
    "unit_system_v2": "metric",
    "location_name": "Hjem",
    "time_zone": "Europe/Copenhagen",
    "external_url": null,
    "internal_url": null,
    "currency": "DKK",
    "country": "DK",
    "language": "en"
  }
}